<div *ngIf="cards.length > 0" class="deck-container">
    <h4>{{title}}</h4>
    <ul class='deck'>
        <li *ngFor="let card of cards" class="card-container">
            <div class="card {{card.suit.color}}">
                <div class="text top">
                    <div class="number">{{card.number}}</div>
                    <div class="icon {{card.suit.icon}}"></div>
                </div>
                <div class="text bottom">
                    <div class="icon {{card.suit.icon}}"></div>
                    <div class="number">{{card.number}}</div>
                </div>
            </div>
        </li>
    </ul>
    <div class="controls">
        <button (click)="shuffleCards(cards)">Shuffle</button>
    </div>
</div>