<div class="app-container">
    <app-card-deck *ngIf="cards.length > 0" id="card-deck" [cards]="cards" [title]="deckTitle"></app-card-deck>
    <div class="controls">
        <button id="draw-cards" (click)="drawCards(noDrawCards.value)">Draw Cards</button><input id="draw-cards-no" #noDrawCards type="number" value="0" min="0" max="{{cards.length}}" />
        <button id="reset-cards" (click)="reset()">Reset Cards</button>
    </div>
    <app-card-deck *ngIf="drawnCards.length > 0" id="drawn-deck" [cards]="drawnCards" [title]="drawnDeckTitle"></app-card-deck>
</div>